@import "../add-services/add-services.component.scss";
@import "../../../styles.scss";


.response {

  &--container {
    &-form {
      &-container {
        &-form-btn {
          background: $greenTSG;
          border-radius: 10px;
          margin-right: 10px;
          font: $base-noto-sans;
          color: $white;
          &-sec {
            background: $greenTSG;
            border-radius: 10px;
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 13px;
            font: $base-noto-sans;
            font-weight: 600;
            color: $white;
            cursor: pointer;
            transition: background 0.3s ease;

            &:hover {
              background-color: #18944b; /* Color en hover con un toque más blanco */
              color: white;
            }
          }

        &-dev {
            background: #9b9b9b;
            border-radius: 10px;
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 13px;
            font: $base-noto-sans;
            font-weight: 600;
            color: $white;
            cursor: pointer;
            transition: background 0.3s ease;

            &:hover {
              background-color: #c2c2c2; /* Color en hover con un toque más blanco */
              color: white;
            }
          }

          &-red{
            background: #e61919;
            border-radius: 10px;
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 13px;
            font: $base-noto-sans;
            font-weight: 600;
            color: $white;
            cursor: pointer;
            transition: background 0.3s ease;

            &:hover {
              background-color: #ec5353; /* Color en hover con un toque más blanco */
              color: white;
            }
          }
        }
      }
    }
  }

  &--see-container{
    display: flex;
    justify-content: center;
    align-items: center;

    &-icon{
      font-size: 30px;
      color:$greenTSG;
      cursor: pointer;
      margin-bottom: 20px;

      &-close{
        font-size: 30px;
        color:gray;
        cursor: pointer;
        margin-bottom: 20px;

      }
    }
  }

  &--visor{
    margin-bottom: 20px;
  }

  &--attachs-response {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    height: auto;
    background: rgba(240, 240, 240, 0.3);
    /* box-shadow: rgba(0, 0, 0, 0.5) 0px 9px 15px 3px; */
    margin-bottom: 25px;
    text-align: center;
    padding-bottom: 10px;
    border: 2px dashed lightgray;

    &2 {
      display: flex;
      flex-direction: row;
      gap: 2%;
    }

    &-title {
      font: $base-noto-sans;
      font-weight: 300;
      color: $greenTSG;
      font-size: 18px;
    }
  }

  &--visors {
    &-container {
      display: flex;
      flex-direction: row;
      gap: 15px;
      padding: 30px;


      &-visor {
        // width: 50%;

        &-excel {
          // overflow-x: scroll;
        }
      }
      // &-content {
      //   width: 50%;
      // }
    }
  }

  &--chat {
    background: rgba(240, 240, 240, 0.5);
    border-radius: 10px;
    &-conatiner {      
      padding: 50px;
      background: url(/assets/images/fondo-wha.png);
      background-color: rgba(255, 255, 255);
      border: 1px solid lightgrey;
      border-top: none;
      border-bottom: none;

      &-info {
        display: flex;
        // flex-direction: column;
        align-items: end;
        justify-content: end;

        &-data {
          margin: 0;
          font: $base-noto-sans;
          font-weight: 300;
          color: gray;
          font-size: 9px;
          top: 8px;
          left: 10px;
        }
      }

      &-title {
        font: $h4-noto-sans;
        font-size: 1.5rem;
        margin: 10px auto 30px;
        width: min-content;
        color: #075f47;
        padding: 1rem 0 0 0;
      }
    }
  }

  &--audio-container {
    height: 200px;
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    border: 1px solid $greenTSG;
    border-radius: 10px;
    background: url("/assets/images/SGTAudio.svg");
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 25px 1px;

    &-btns{

    }
    &-btn {
      border: none;
      background: transparent;
      height: 30%;

      &-icon {
        font-size: 50px;
        color: $greenTSG;
      }
    }
  }

  &--headers {
    &-container {
      width: 70%;
      margin: auto;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      border: 1px solid $greenTSG;
      border-radius: 10px;
      padding: 30px;
      background-color: white;
      // box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 25px 1px;
      // background: radial-gradient(circle, rgb(241 255 235) 0%, rgb(137 208 158 / 66%) 100%);
      // background: radial-gradient(circle, rgb(255 255 255) 0%, rgb(170 205 181 / 66%) 100%);
      box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 25px 1px;

      .center{
        justify-content: center;
      }

      &-data {
        display: flex;
        gap: 10px;
        // justify-content: space-between;
        // border-bottom: 1px solid $greenTSG;
        overflow: auto;
      }
    }
  }

  &--fields {
    min-height: 200px;
  }

  &--fields-alt {
    min-height: 500px;
  }

  &--labels {
    font: $h4-noto-sans;
    color: $greenTSG;
    margin: 0;
    font-size: 16px;

    &-data {
      font: $h4-noto-sans;
      font-size: 14px;
      font-weight: 300;
      margin: 0;

      &-attachments {
        display: flex;
        // flex-direction: column;
        // align-items: end;
        gap: 5px;
      }
    }
  }
}

.width-msgs{
    max-width: 100%;
    margin: 0.5rem 0 0;
}
.bg-gray{background-color: #fefefe;}

.history-fixed{
  right: 2%;
  width: 20%;
  height: 90vh;
}

.font-400{font-weight: 400;}

.step--history {
  &-container {
    display:flex;
    flex-direction:column;
    right: 2%;
    gap:15px;
    width: 80%;
    border: 1px solid $greenTSG;
    border-radius: 10px;
    padding: 15px;
    margin-right: 1%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 25px 1px;

    .separation{
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 100%;
    }


    &-card {
      border: 1px solid $greenTSG;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 25px 1px;
      padding: 10px;
      cursor:pointer;

      &-text{
          font:$h5-noto-sans;
          color:$greenTSG;
          width:100%;
          // border-bottom:1px solid $greenTSG;
          font-size:15px;
          margin:3px;
      }
    }
  }
}


.dialog {

  &--container {


    &-form {
      display: flex;
      flex-direction: column;
      padding: 100px;

      @include responsive(300px,997px) {
        padding: 15px;
      }

      &-input {
      }

      &-file-container {
        width: 100%;
        border: 2px dashed lightgray;
        border-radius: 10px;
        height: 160px;
        margin-bottom: 25px;
        background: rgba(240, 240, 240, 0.3);

        &2 {
          width: 100%;
          border: 2px dashed lightgray;
          border-radius: 5px;
          height: 60px;
          background: #fff;
          // box-shadow: rgba(0, 0, 0, 0.1) 0px 9px 15px 3px;
          margin-bottom: 25px;
        }

        @include responsive(300px,870px) {
          height: 150px;
        }

        &-input {
          opacity: 0;
          padding: 3rem;
          width: 100%;
          height: 1rem;

          @include responsive(300px,870px) {
            padding: 2rem;
          }
        }

        &-label {
          font: $base-noto-sans;
          padding: 5px;
          color: gray !important;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 5px;
          border-bottom: 2px dashed lightgray;

          &2 {
            font-size: 12px !important;
            font: $base-noto-sans;
            color: rgba(58, 91, 34, 0.5);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid rgba(58, 91, 34, 0.2);
          }
        }
      }

      &-btn {
        background: #075f47 !important;
        margin-top: 50px;
      }
    }
  }
}

.display{
  &-none{
    display: none;
  }
  &-block{
    display: block;
  }
}

.mat-mdc-text-field-wrapper{
  background-color: #eaeaea !important;
  box-shadow: rgba(50, 50, 93, 0.25) -12px -4px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset !important;
}

.cont{
  flex-wrap: wrap;
}

.div-doc{
    background: #f3f4f6;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 14px;
    /* border: 1px solid black; */
    padding: 1px 10px;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 7px;
}

.apply-flex {
  flex: 1 1 calc(30% - 10px);
}

.doc-element {
  flex: 1 1 calc(30% - 10px); /* Un máximo de 3 elementos por fila, con un pequeño espacio */
  margin: 5px;
  box-sizing: border-box;
}

.circle-name{
  border-radius: 50%;
  color: white;
  font-size: 20px;
  background-color: $greenTSG;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
}

.flex-buttons{
  justify-content: space-evenly;
}

@media screen and (max-width: 820px) {

  ::ng-deep .cdk-overlay-pane {
    width: 76% !important;
  }

  ::ng-deep .mat-mdc-menu-content {
    width: 280px !important;
  }
}

input[type='range']{
  accent-color: $greenTSG;
  width: 250px;
}

.flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5%;
}

.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.logo{
  margin-right: 15%;
}

.dp-flex{
  display: flex;
}


.step2--container-table-data-container{
  width: 80px !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}


.modal-load {
  background: $white;
  border-radius: 20px;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 35%;
  left: 37%;

  & ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: red !important;
  }
}

.back-modal {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
}

.resp{
  display: flex;
  flex-direction: row;
  &--container{
    padding: 3.5rem 1.5rem;
    width: 100%;

    &-form{
      padding: 1.5rem;
      background-color: #fff;
      border-radius: 1rem;
    }

    &-box1{
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid lightgray;
      padding-bottom: 1rem;

      &-btns{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: baseline;
      }
    }

    &-box2 {
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid lightgray;
    }

    &-box3{
      padding-bottom: 2rem;
      border-bottom: 1px solid lightgray;
      margin-bottom: 2rem;

      &-title{
        font-size: 1.3rem;
      }

      &-attachs {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap-reverse;
          gap: 0.2rem;
      }
    }

    &-box7{
      padding: 1rem 0;
    }

    &-history{
      background-color: #f9fafc;
      width: 33%;
      padding: 1rem;
      border: 1px solid lightgrey;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      &-card{
        padding: 1rem;
        border-radius: 7px;
        border: 1px solid lightgray;
      }
    }
  }

  &--labels{
    font-size: 1.5rem;
    margin: 0;

    &-data{
      max-width: max-content;
      min-width: max-content;
      padding: 1rem;
      height: 3rem;
      display: flex;
      align-items: center;
    }
  }
}

.mdc-text-field--filled {
    background: #fff !important;
}