<div class="step">
    <div class="step2--container">
      <div class="step2--container-texts" data-aos="fade-left">
        <h2 class="step2--container-texts-title font-size-resp">Gestion de PQR´S</h2>
      </div>
  
      <mat-form-field data-aos="fade-left">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>
  
      <div class="scroll mat-elevation-z8" data-aos="zoom-in-up">
        <div class="resp-table">
          <table mat-table [dataSource]="dataSource" matSort class="mb-20 row-odd">
    
    
            <ng-container matColumnDef="pqrId">
              <th class="row-even"   mat-header-cell *matHeaderCellDef mat-sort-header> PQR ID </th>
              <td mat-cell *matCellDef="let row; let i = index; "
              class="row-odd"> {{row.id}} </td>
            </ng-container>
    
            <ng-container matColumnDef="reception">
              <th class="row-even"   mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Recepción </th>
              <td mat-cell *matCellDef="let row;let i = index; "
              class="row-odd"> {{row.dateReception | date: 'dd:MMM:yyyy':'UTC'}} a las: {{row.hourReception.slice(0,5)}} </td>
            </ng-container>
    
            <ng-container matColumnDef="creation">
              <th class="row-even"   mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Creación </th>
              <td mat-cell *matCellDef="let row;let i = index; "
              class="row-odd"> {{row.dateCreation | date: 'dd:MMM:yyyy':'UTC'}} a las: {{row.dateCreation | date: 'HH:mm':'UTC'}} </td>
            </ng-container>
    
            <ng-container matColumnDef="document">
              <th class="row-even"   mat-header-cell *matHeaderCellDef mat-sort-header> Documento </th>
              <td mat-cell *matCellDef="let row;let i = index; "
              class="row-odd"> {{row.documentNumber}} </td>
            </ng-container>
    
            <ng-container matColumnDef="usuario">
              <th class="row-even"   mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
              <td mat-cell *matCellDef="let row;let i = index; "
              class="row-odd"> {{row.userName}} </td>
            </ng-container>
    
            <ng-container matColumnDef="radication">
              <th class="row-even"   mat-header-cell *matHeaderCellDef mat-sort-header> Medio de Radicacion </th>
              <td mat-cell *matCellDef="let row;let i = index; "
              class="row-odd"> {{row.means}} </td>
            </ng-container>
    
            <ng-container matColumnDef="typepqr">
              <th class="row-even"   mat-header-cell *matHeaderCellDef mat-sort-header> Tipo PQR </th>
              <td mat-cell *matCellDef="let row;let i = index; "
              class="row-odd"> {{row.type}} </td>
            </ng-container>
    
            <ng-container matColumnDef="regional">
              <th class="row-even"   mat-header-cell *matHeaderCellDef mat-sort-header> Regional </th>
              <td mat-cell *matCellDef="let row;let i = index; "
              class="row-odd"> {{row.regional}} </td>
            </ng-container>

            <ng-container matColumnDef="statusMiner">
              <th class="row-even"   mat-header-cell *matHeaderCellDef mat-sort-header> Mineria </th>
              <td mat-cell *matCellDef="let row;let i = index; "
              class="row-odd">
                <ng-container  *ngIf="row.statusMiner === 'MINING'; else miningElse">
                  
                  <ng-container  *ngIf="row.statusMiner === 'MINING'; else noAplica">
                    <!-- <i (click)="openDialogMiner(row.id)" style="font-size: 30px;color:#126b37 ;" class="bi bi-minecart-loaded"></i> -->
                    <div *ngIf="row.status == 'MINING'" class="step2--container-table-data-container">
                      <div style="display:flex;gap: 10px;align-items:center;">
                        <button class="center-buttons" [matMenuTriggerFor]="menu" mat-icon-button>
                          <i style="font-size: 30px ;" class="bi bi-minecart"></i>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button  (click)="openDialogMiner(row.id,'TS')" *ngIf="row.observationTs != null && row.observationTs.length > 0" mat-menu-item>
                            <i class="bi bi-car-front" style="font-size: 23px; color: #126b37; cursor: pointer; margin-right: 10px;"
                            matBadge="1" matBadgeSize="small" [matBadgeHidden]="row.responseMinerTs == null"></i>
                            <span >Transporte</span>
                          </button>
                          <button (click)="openDialogMiner(row.id,'FAC')" *ngIf="row.observationFac != null && row.observationFac.length > 0" mat-menu-item >
                            <i class="bi bi-bank" style="font-size: 23px; color: #126b37;cursor:pointer; margin-right: 10px;"
                            matBadge="1" matBadgeSize="small" [matBadgeHidden]="row.responseMinerFac == null"></i>
                            <span >Facturacion</span>
                          </button>
                          <button (click)="openDialogMiner(row.id,'OP')" *ngIf="row.observationOp != null && row.observationOp.length > 0" mat-menu-item >
                            <i class="bi bi-headset" style="font-size: 23px; color: #126b37;cursor:pointer; margin-right: 10px;"
                            matBadge="1" matBadgeSize="small" [matBadgeHidden]="row.responseMinerOp == null"></i>
                            <span>Operacion</span>
                          </button>
                        </mat-menu>
                      </div>
                      
                    </div>
                  </ng-container>
                </ng-container>
                <ng-template #miningElse>
                  <ng-container  *ngIf="row.statusMiner === 'MINED'; else noAplica">
                    <!-- <i (click)="openDialogMiner(row.id)" style="font-size: 30px;color:#126b37 ;" class="bi bi-minecart-loaded"></i> -->
                    <div *ngIf="row.status != 'MINING'" class="step2--container-table-data-container">
                      <div style="display:flex;gap: 10px;align-items:center;"  >
                        <button class="center-buttons" [matMenuTriggerFor]="menu" mat-icon-button >
                          <i  style="font-size: 30px;color:#126b37 ;" class="bi bi-minecart-loaded"></i>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button (click)="openDialogMiner(row.id,'TS')" *ngIf="row.minerUrlsTs != null && row.minerUrlsTs.length > 0" mat-menu-item>
                            <i class="bi bi-car-front" style="font-size: 23px; color: #126b37; cursor: pointer; margin-right: 10px;"
                            matBadge="1" matBadgeSize="small" [matBadgeHidden]="row.responseMinerTs == null"></i>
                            <span >Transporte</span>
                          </button>
                          <button (click)="openDialogMiner(row.id,'FAC')" *ngIf="row.minerUrlsFac != null && row.minerUrlsFac.length > 0" mat-menu-item>
                            <i class="bi bi-bank" style="font-size: 23px; color: #126b37;cursor:pointer; margin-right: 10px;"
                            matBadge="1" matBadgeSize="small" [matBadgeHidden]="row.responseMinerFac == null"></i>
                            <span>Facturacion</span>
                          </button>
                          <button (click)="openDialogMiner(row.id,'OP')" *ngIf="row.minerUrlsOp != null && row.minerUrlsOp.length > 0" mat-menu-item >
                            <i class="bi bi-headset" style="font-size: 23px; color: #126b37;cursor:pointer; margin-right: 10px;"
                            matBadge="1" matBadgeSize="small" [matBadgeHidden]="row.responseMinerOp == null"></i>
                            <span>Operacion</span>
                          </button>
                        </mat-menu>
                      </div>
                      
                    </div>
                  </ng-container>
                </ng-template>
                <ng-template #noAplica>
                  No Aplica
                </ng-template>
              </td>
            </ng-container>
    
            <ng-container matColumnDef="opts">
              <th class="row-even"   mat-header-cell *matHeaderCellDef mat-sort-header> Ver PQR </th>
              <td mat-cell *matCellDef="let row;let i = index; "
              class="row-odd">
                <div routerLink="/responsePqr/{{row.id}}"  style="width: max-content; padding: 10px 15px;">
                  <i class="bi bi-search" style="font-size: 23px; color: #126b37; cursor: pointer; margin-right: 10px;"></i>
                </div>
              </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell row-odd" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>
        </div>
  
        <mat-paginator class="row-odd"  [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
  </div>

