<div class="create">
    <div class="create--container">
      <div class="create--container-div1">
        <div class="create--container-div1-texts">
          <h2 class="create--container-div1-texts-title">Solicitar Trazabilidad</h2>
        </div>
        <div class="create--container-div1-form-container">
          <form class="create--container-div1-form-container-form" [formGroup]="formMinner" (ngSubmit)="submit()">
  
            <div style="margin-bottom: 50px;" class="grid3" rowspan="1" >
                <div style="display:flex;gap: 5px;flex-direction:column;"> 
                  <h3 class="create--type-title">* Solicitar Trazabilidad</h3>
                  <div style="display:flex;gap: 10px;">
                    <mat-checkbox formControlName="isMinerOp" (change)="onCheckboxChangeMiner($event,'minerOp')" class="example-margin">Operativa</mat-checkbox>
                    <mat-checkbox formControlName="isMinerTs" (change)="onCheckboxChangeMiner($event,'minerTs')" class="example-margin">Transporte</mat-checkbox>
                    <mat-checkbox formControlName="isMinerFac" (change)="onCheckboxChangeMiner($event,'minerFac')" class="example-margin">Facturacion</mat-checkbox>
                  </div>
                </div>
              </div>
    
              <div *ngIf="isMinerOp" class="grid2" rowspan="1">
                <mat-form-field class="create--container-div1-form-container-form-field" appearance="fill">
                  <mat-label>Observacion para Operacion</mat-label>
                  <textarea class="" matInput formControlName="observationOp"></textarea>
                </mat-form-field>
              </div>
    
              
              <div *ngIf="isMinerTs" class="grid2" rowspan="1">
                <mat-form-field class="create--container-div1-form-container-form-field" appearance="fill">
                  <mat-label>Observacion para Trasnsporte</mat-label>
                  <textarea class="" matInput formControlName="observationTs"></textarea>
                </mat-form-field>
              </div>
              
              <div *ngIf="isMinerFac" class="grid2" rowspan="1">
                <mat-form-field class="create--container-div1-form-container-form-field" appearance="fill">
                  <mat-label>Observacion para Facturacion</mat-label>
                  <textarea class="" matInput formControlName="observationFac"></textarea>
                </mat-form-field>
              </div>
  
  
  
  
            <button type="submit" class="create--container-div1-form-container-form-btn" mat-fab extended color="primary">
              Enviar Solicitud
            </button>
          </form>
        </div>
        
      </div>
      <div class="create--container-div2">
        <img style="width: 150%;" class="create--container-div2-img" src="../../../assets/images/TRAZA.svg" />
      </div>
    </div>
  </div>
