<div class="step" >
  <div class="step2--container">
    <div class="step2--container-texts" data-aos="fade-left">
      <h2 class="step2--container-texts-title font-size-resp">Gestion de PQR´S</h2>
    </div>

    <div class="step2--container-index-flex gap0 flex-resp" data-aos="fade-left">
      <form [formGroup]="formFilter" class="gap0 flex-resp">
        <div class="step-filters-container gap0 flex-resp">
          <mat-form-field class="input">
            <mat-label>Tipo de PQR</mat-label>
            <mat-select formControlName="pqrType">
              <mat-option value="0">Ninguno</mat-option>
              <mat-option *ngFor="let type of types" [value]="type.name">{{type.name}}</mat-option>
            </mat-select>
          </mat-form-field>



          <mat-form-field class="input">
            <input type="text" matInput [formControl]="regionalControl" [matAutocomplete]="auto" placeholder="Regional">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="filterByRegional($event)">
              <mat-option value="Ninguna" (click)="filterByRegional('0')">Ninguna</mat-option>
              <mat-option *ngFor="let reg of filteredRegionals | async" [value]="reg.name">
                {{ reg.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="input">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
          </mat-form-field>
        </div>
        
      </form>
      
      
      <div style="margin-bottom: 20px;">
        <!--<button routerLink="/createUpdatePqr" class="step--btn w100-resp" mat-fab extended color="primary">
          Registrar Pqr
        </button>-->
        <button routerLink="/createUpdatePqr" class="button2 button button-item">
          <span class="button-bg">
            <span class="button-bg-layers">
              <span class="button-bg-layer button-bg-layer-1 -purple"></span>
              <span class="button-bg-layer button-bg-layer-2 -turquoise"></span>
              <span class="button-bg-layer button-bg-layer-3 -yellow"></span>
            </span>
          </span>
          <span class="button-inner">
            <span class="button-inner-static">Registrar Pqr</span>
            <span class="button-inner-hover">Registrar Pqr</span>
          </span>
        </button>
      </div>
    </div>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle #pqrsToggle (click)="showTotal()" class="c-button--left c-button c-button--gooey ">
        Pqrs
        <div class="c-button__blobs">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </mat-button-toggle>
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="display: block; height: 0; width: 0;">
        <defs>
          <filter id="goo">
            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo"></feColorMatrix>
            <feBlend in="SourceGraphic" in2="goo"></feBlend>
          </filter>
        </defs>
      </svg>
      <mat-button-toggle (click)="showFollow()" class="c-button c-button--gooey ">
        Seguimiento
        <div class="c-button__blobs">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </mat-button-toggle>
      <mat-button-toggle (click)="showMining()" class="c-button c-button--gooey ">
        En Trazabilidad
        <div class="c-button__blobs">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </mat-button-toggle>
      <mat-button-toggle 
        [ngStyle]="(pqrsByEditing == undefined || pqrsByEditing?.length < 1) ? 
                    {'opacity': '0.2', 'pointer-events': 'none'} : {}" 
        (click)="showEdit()" 
        class="red c-button--right c-button c-button--gooey">
        <i class="bi bi-pencil-square"></i>
        <div class="c-button__blobs">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <div class="scroll mat-elevation-z8" tabindex="0" data-aos="zoom-in-up">
      <div class="resp-table">
        <table mat-table [dataSource]="dataSource" matSort class="mb-20 row-odd">

          <ng-container matColumnDef="pqrId" >
            <th class="row-even" mat-header-cell *matHeaderCellDef mat-sort-header> PQR ID </th>
            <td mat-cell *matCellDef="let row;let i = index;"
                class="row-odd"> {{row.id}} </td>
          </ng-container>

          <ng-container matColumnDef="reception" data-aos="flip-down">
            <th class="row-even"   mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Recepción </th>
            <td mat-cell *matCellDef="let row;let i = index;"
                class="row-odd"> {{formatDate(row.dateReception)}} a las: {{row.hourReception.slice(0,5)}} </td>
          </ng-container>

          <ng-container matColumnDef="creation">
            <th class="row-even"   mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Creación </th>
            <td mat-cell *matCellDef="let row;let i = index;"
                class="row-odd"> {{formatDate(row.dateCreation)}} a las: {{row.dateCreation | date: 'HH:mm':'UTC'}} </td>
          </ng-container>

          <ng-container matColumnDef="document">
            <th class="row-even"   mat-header-cell *matHeaderCellDef mat-sort-header> Documento </th>
            <td mat-cell *matCellDef="let row;let i = index;"
                class="row-odd"> {{row.documentNumber}} </td>
          </ng-container>

          <ng-container matColumnDef="usuario">
            <th class="row-even"   mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
            <td mat-cell *matCellDef="let row;let i = index;"
                class="row-odd"> {{row.userName}} </td>
          </ng-container>

          <ng-container matColumnDef="radication">
            <th class="row-even"   mat-header-cell *matHeaderCellDef mat-sort-header> Medio de Radicacion </th>
            <td mat-cell *matCellDef="let row;let i = index;"
                class="row-odd"> {{row.means}} </td>
          </ng-container>

          <ng-container matColumnDef="typepqr">
            <th class="row-even"   mat-header-cell *matHeaderCellDef mat-sort-header> Tipo PQR </th>
            <td mat-cell *matCellDef="let row;let i = index;"
                class="row-odd"> {{row.type}} </td>
          </ng-container>

          <ng-container matColumnDef="regional">
            <th class="row-even"   mat-header-cell *matHeaderCellDef mat-sort-header> Regional </th>
            <td mat-cell *matCellDef="let row;let i = index;"
                class="row-odd"> {{row.regional}} </td>
          </ng-container>

          <ng-container matColumnDef="statusMiner">
            <th class="row-even"   mat-header-cell *matHeaderCellDef mat-sort-header> Datos </th>
            <td mat-cell *matCellDef="let row;let i = index;"
                class="row-odd">
              <ng-container  *ngIf="row.statusMiner === 'MINING'; else miningElse">
                
                <ng-container  *ngIf="row.statusMiner === 'MINING'; else noAplica">
                  <!-- <i (click)="openDialogMiner(row.id)" style="font-size: 30px;color:#126b37 ;" class="bi bi-database-fill-check"></i> -->
                  <div *ngIf="row.status == 'MINING'" class="step2--container-table-data-container new-btn" >
                    <div style="display:flex;gap: 10px;align-items:center;">
                      <button class="center-buttons c-button c-button--gooey" style="display:flex;border-radius:5px;" [matMenuTriggerFor]="menu" mat-icon-button>
                        <i style="font-size: 30px ;" class="bi bi-database-add"></i>
                        <div class="c-button__blobs">
                          <div></div>
                          <div></div>
                          <div></div>
                        </div>
                      </button>
                     
                      <mat-menu #menu="matMenu">
                        <button (click)="openDialogMiner(row.id,'TS')" *ngIf="row.observationTs != null && row.observationTs.length > 0" mat-menu-item>
                          <i class="bi bi-car-front" style="font-size: 23px; color: #126b37; cursor: pointer; margin-right: 10px;"
                             matBadge="1" matBadgeSize="small" [matBadgeHidden]="row.responseMinerTs == null"></i>
                          <span>Transporte</span>
                        </button>
                        <button (click)="openDialogMiner(row.id,'FAC')" *ngIf="row.observationFac != null && row.observationFac.length > 0" mat-menu-item>
                          <i class="bi bi-bank" style="font-size: 23px; color: #126b37;cursor:pointer; margin-right: 10px;"
                             matBadge="1" matBadgeSize="small" [matBadgeHidden]="row.responseMinerFac == null"></i>
                          <span>Facturacion</span>
                        </button>
                        <button (click)="openDialogMiner(row.id,'OP')" *ngIf="row.observationOp != null && row.observationOp.length > 0" mat-menu-item>
                          <i class="bi bi-headset" style="font-size: 23px; color: #126b37;cursor:pointer; margin-right: 10px;"
                             matBadge="1" matBadgeSize="small" [matBadgeHidden]="row.responseMinerOp == null"></i>
                          <span>Operacion</span>
                        </button>
                      </mat-menu>
                    </div>
                    
                  </div>
                </ng-container>
              </ng-container>
              <ng-template #miningElse>
                <ng-container  *ngIf="row.statusMiner === 'MINED'; else noAplica">
                  <!-- <i (click)="openDialogMiner(row.id)" style="font-size: 30px;color:#126b37 ;" class="bi bi-database-fill-check"></i> -->
                  <div *ngIf="row.status != 'MINING'" class="step2--container-table-data-container new-btn">
                    <div style="display:flex;gap: 10px;align-items:center;"  >
                      <button class="center-buttons c-button c-button--gooey" style="display:flex;border-radius:5px;" [matMenuTriggerFor]="menu" mat-icon-button>
                        <i style="font-size: 30px ;" class="bi bi-database-fill-check hover-white"></i>
                        <div class="c-button__blobs">
                          <div></div>
                          <div></div>
                          <div></div>
                        </div>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button (click)="openDialogMiner(row.id,'TS')" *ngIf="row.minerUrlsTs != null && row.minerUrlsTs.length > 0" mat-menu-item>
                          <i class="bi bi-car-front" style="font-size: 23px; color: #126b37; cursor: pointer; margin-right: 10px;"
                          matBadge="1" matBadgeSize="small" [matBadgeHidden]="row.responseMinerTs == null"></i>
                          <span >Transporte</span>
                        </button>
                        <button (click)="openDialogMiner(row.id,'FAC')" *ngIf="row.minerUrlsFac != null && row.minerUrlsFac.length > 0" mat-menu-item>
                          <i class="bi bi-bank" style="font-size: 23px; color: #126b37;cursor:pointer; margin-right: 10px;"
                          matBadge="1" matBadgeSize="small" [matBadgeHidden]="row.responseMinerFac == null"></i>
                          <span>Facturacion</span>
                        </button>
                        <button (click)="openDialogMiner(row.id,'OP')" *ngIf="row.minerUrlsOp != null && row.minerUrlsOp.length > 0" mat-menu-item >
                          <i class="bi bi-headset" style="font-size: 23px; color: #126b37;cursor:pointer; margin-right: 10px;"
                          matBadge="1" matBadgeSize="small" [matBadgeHidden]="row.responseMinerOp == null"></i>
                          <span>Operacion</span>
                        </button>
                      </mat-menu>
                    </div>
                    
                  </div>
                </ng-container>
              </ng-template>
              <ng-template #noAplica>
                No Aplica
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="opts">
            <th class="row-even"   mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
            <td mat-cell *matCellDef="let row" class="row-odd">

              <div *ngIf="row.status != 'MINING'" class="step2--container-table-data-container new-btn">
                <div style="display:flex;gap: 10px;align-items:center;">
                  <button [matMenuTriggerFor]="menu" mat-icon-button class="c-button c-button--gooey" style="display:flex;border-radius:5px;">
                    <mat-icon>more_vert</mat-icon>
                    <div class="c-button__blobs">
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openDialogToSee(row.id)">
                      <i (click)="openDialogToSee(row.id)" class="bi bi-eye" style="font-size: 23px; color: #126b37; cursor: pointer; margin-right: 10px;"></i>
                      <span>Ver Pqr</span>
                    </button>
                    <button mat-menu-item (click)="responsePqr(row.id)">
                      <i class="bi bi-send-arrow-up" style="font-size: 23px; color: #126b37; cursor: pointer; margin-right: 10px;"></i>
                      <span>Responder PQR</span>
                    </button>
                    <button mat-menu-item routerLink="/createUpdatePqr/{{row.id}}">
                      <i class="bi bi-pencil" style="font-size: 23px; color: #126b37;cursor:pointer; margin-right: 10px;"></i>
                      <span>Editar PQR</span>
                    </button>
                    <button mat-menu-item routerLink="/addServices/{{row.id}}">
                      <i class="bi bi-calendar-plus" style="font-size: 23px; color: #126b37;cursor:pointer; margin-right: 10px;"></i>
                      <span>Añadir Servicios</span>
                    </button>
                    <button mat-menu-item (click)="openDialogToMiner(row.id)">
                      <i (click)="openDialogToMiner(row.id)" class="bi bi-database-add" style="font-size: 23px; color: #126b37; cursor: pointer; margin-right: 10px;"></i>
                      <span>Solicitar Trazabilidad</span>
                    </button>
                    <button mat-menu-item (click)="openDialogHistory(row.id)">
                      <i (click)="openDialogHistory(row.id)" class="bi bi-clock-history" style="font-size: 23px; color: #126b37; cursor: pointer; margin-right: 10px;"></i>
                      <span>Historial de Trazabilidad</span>
                    </button>
                    <button *ngIf="actualRole == 'SUPERUSER'" mat-menu-item (click)="deletePqr(row.id)">
                      <i (click)="deletePqr(row.id)" class="bi bi-trash3" style="font-size: 23px; color: #F11F1F; cursor: pointer; margin-right: 10px;"></i>
                      <span>Eliminar PQR</span>
                    </button>
                  </mat-menu>
                </div>
                
              </div>
              <div *ngIf="row.status == 'MINING'" class="step2--container-table-data-container new-btn">
                <div style="display:flex;gap: 10px;align-items:center;">
                  <button [matMenuTriggerFor]="menu" mat-icon-button class="c-button c-button--gooey" style="display:flex;border-radius:5px;">
                    <mat-icon>more_vert</mat-icon>
                    <div class="c-button__blobs">
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="exitMinerPqr(row.id)">
                      <i class="bi bi-recycle" style="font-size: 23px; color: #126b37; cursor: pointer; margin-right: 10px;"></i>
                      <span>Eliminar solicitud</span>
                    </button>
                  </mat-menu>
                </div>
                
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'editing-row': row.isEditing}"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell row-odd" colspan="4">No hay datos que coincidan con "{{input.value}}"</td>
          </tr>
        </table>
      </div>

      <mat-paginator class="row-odd"  [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
</div>
