<div class="dialog">
  <div class="dialog--container">
    <div class="dialog--container-texts">
      <h2 class="dialog--container-texts-title">Redactar Correo</h2>
    </div>
    <form class="dialog--container-form" [formGroup]="formSend" (ngSubmit)="submit()">

      <!--<mat-form-field class="dialog--container-form-field" appearance="fill">
        <mat-label>Remitente</mat-label>
        <input class="dialog--container-form-input" matInput formControlName="sender">
      </mat-form-field>-->

      

      <mat-form-field class="dialog--container-form-field" appearance="fill">
        <mat-label>Destinatario</mat-label>
        <input class="dialog--container-form-input" matInput formControlName="addressee">
      </mat-form-field>

      <mat-form-field class="dialog--container-form-field" appearance="fill">
        <mat-label>Asunto</mat-label>
        <input class="dialog--container-form-input" matInput formControlName="subject">
      </mat-form-field>

      <div class="dialog--container-form-field">
        <label class="mat-body-1">Cuerpo del correo</label>
        <ckeditor
          *ngIf="Editor"
          [editor]="Editor"
          [config]="emailEditorConfig"
          formControlName="response"
          style="display:block; min-height:240px;">
        </ckeditor>
      </div>


      <mat-form-field style="display: none;" *ngIf="pqr?.pqrType?.name == 'Queja'" class="dialog--container-form-field" appearance="fill">
        <mat-label>Cuerpo de la carta</mat-label>
        <textarea class="dialog--container-form-input" matInput formControlName="body"></textarea>
      </mat-form-field>

      

      <button type="submit" class="dialog--container-form-btn" mat-fab extended color="primary">
        Enviar Correo
      </button>
    </form>
  </div>
</div>

<ng-template #fileTitle>
  <label> Cargar Archivo</label>
</ng-template>


<div class="back-modal" *ngIf="isLoading">
  <div class="modal-load">
    <mat-spinner style="color: #075f47;"></mat-spinner>
    <h2>Su Correo esta siendo enviado...</h2>
  </div>
</div>

