<div class="create--container">
  <div class="create--container-texts">
    <h2 class="create--container--texts-title" *ngIf="ID > 0;else createtitle">{{'Actualizar'}} PQR</h2>
  </div>
  <div class="create--container-form-container">
    <form class="create--container-form-container-form" [formGroup]="formPQR" (ngSubmit)="submit()" (reset)="onResetForm()">
      <!-- <mat-grid-list cols="6" rowHeight="5:2" gutterSize="1%"> -->
        <div class="grid"> 

          <div class="grid1">
            <mat-form-field>
              <mat-label>Medio de Radicacion</mat-label>
              <mat-select formControlName="means">
                <mat-option *ngFor="let mean of means" [value]="mean.id">{{mean.name}}</mat-option>

              </mat-select>
            </mat-form-field>
          </div>

          <div class="grid1">
            <mat-form-field>
              <mat-label>Tipo de PQR</mat-label>
              <mat-select formControlName="pqrType">
                <mat-option *ngFor="let type of types" [value]="type.id">{{type.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="grid1">
            <mat-form-field>
              <input type="text" matInput [formControl]="regionalControl" [matAutocomplete]="auto" placeholder="Regional">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let reg of filteredRegionals | async" [value]="reg.name">
                  {{ reg.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>




          <div class="grid2">
            <mat-form-field>
              <mat-label>Fecha de Recepcion</mat-label>
              <input matInput type="datetime" [matDatepicker]="picker1" formControlName="dateReception">
              <!-- <mat-hint>DD/MM/YYYY</mat-hint> -->
              <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="grid1">
            <mat-form-field class="create--container-form-container-form-field" appearance="fill">
              <mat-label>Hora</mat-label>
              <input matInput [ngxTimepicker]="picker" [format]="24" formControlName="hour">
              <ngx-material-timepicker #picker></ngx-material-timepicker>
            </mat-form-field>
          </div>


        


          <!--------------------------------------------------------------->
          <!----------------------- DATA BY USER ------------------------>
          <!--------------------------------------------------------------->
          <!--------------------------------------------------------------->

          <div class="grid2">
            <mat-form-field>
              <mat-label>Tipo de Documento</mat-label>
              <mat-select formControlName="documentType">
                <mat-option *ngFor="let type of typesdoc" [value]="type.nombre">{{type.nombre}}</mat-option>

              </mat-select>
            </mat-form-field>
          </div>


          <div class="grid1">
            <mat-form-field>
              <input type="text" matInput  [formControl]="usersControl" [matAutocomplete]="autoUser" placeholder="Numero de documento" #input>
              <mat-autocomplete #autoUser="matAutocomplete">
                <mat-option (click)="onCheckboxChangeUser(usr.numeroDocumento)"  *ngFor="let usr of finalUsers | async" [value]="usr.numeroDocumento">
                  {{ usr.numeroDocumento }} - {{usr.primerNombre}} {{usr.primerApellido}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>



          <div class="grid3">
            <mat-form-field class="example-full-width">
              <mat-label>Nombre del Usuario</mat-label>
              <input matInput formControlName="name">
            </mat-form-field>
          </div>

            

          <!--------------------------------------------------------------->
          <!--------------------------------------------------------------->
          <!-----------------------DATA FROM EUREKA------------------------>
          <!--------------------------------------------------------------->
          <!--------------------------------------------------------------->

          <div class="grid1">
            <mat-form-field class="example-full-width">
              <mat-label>ID Usuario</mat-label>
              <input matInput formControlName="userId">
            </mat-form-field>
          </div>

          <div class="grid1">
            <mat-form-field class="example-full-width">
              <mat-label>Estado</mat-label>
              <input matInput formControlName="state">
            </mat-form-field>
          </div>




          <div class="grid1">
            <mat-form-field class="example-full-width">
              <mat-label>Criticidad</mat-label>
              <input matInput formControlName="criticity">
            </mat-form-field>
          </div>

          <div class="grid1">
            <mat-form-field class="example-full-width">
              <mat-label>Telefono Celular 1</mat-label>
              <input matInput formControlName="phone1">
            </mat-form-field>
          </div>

          <div class="grid1">
            <mat-form-field class="example-full-width">
              <mat-label>Telefono Celular 2</mat-label>
              <input matInput formControlName="phone2">
            </mat-form-field>
          </div>

          <div class="grid1">
            <mat-form-field class="example-full-width">
              <mat-label>WhatsApp</mat-label>
              <input matInput formControlName="whatsapp">
            </mat-form-field>
          </div>

          <div class="grid6">
            <mat-form-field class="example-full-width">
              <mat-label>Observaciones</mat-label>
              <textarea matInput formControlName="observaciones"></textarea>
            </mat-form-field>
          </div>

          <div class="grid3" rowspan="1">
            <div style="display:flex;gap: 5px;flex-direction:column;"> 
              <h3 class="create--type-title">* Tipo de archivo a andjuntar</h3>
              <div style="display:flex;gap: 10px;">
                <mat-checkbox formControlName="isAudio" (change)="onCheckboxChange($event,'audio')" class="example-margin">Audio</mat-checkbox>
                <mat-checkbox formControlName="isEmail" (change)="onCheckboxChange($event,'email')" class="example-margin">Correo</mat-checkbox>
                <mat-checkbox formControlName="isFormat" (change)="onCheckboxChange($event,'format')" class="example-margin">Excel</mat-checkbox>
              </div>
            </div>
          </div>

          <div class="grid3" rowspan="1" >
            <div style="display:flex;gap: 5px;flex-direction:column;"> 
              <h3 class="create--type-title">* Solicitar Mineria de Datos</h3>
              <div style="display:flex;gap: 10px;">
                <mat-checkbox formControlName="isMinerOp" (change)="onCheckboxChangeMiner($event,'minerOp')" class="example-margin">Operativa</mat-checkbox>
                <mat-checkbox formControlName="isMinerTs" (change)="onCheckboxChangeMiner($event,'minerTs')" class="example-margin">Transporte</mat-checkbox>
                <mat-checkbox formControlName="isMinerFac" (change)="onCheckboxChangeMiner($event,'minerFac')" class="example-margin">Facturacion</mat-checkbox>
              </div>
            </div>
          </div>

          <div *ngIf="isMinerOp" class="grid2" rowspan="1">
            <mat-form-field class="create--container-div1-form-container-form-field" appearance="fill">
              <mat-label>Observacion para Operacion</mat-label>
              <textarea class="" matInput formControlName="observationOp"></textarea>
            </mat-form-field>
          </div>

          
          <div *ngIf="isMinerTs" class="grid2" rowspan="1">
            <mat-form-field class="create--container-div1-form-container-form-field" appearance="fill">
              <mat-label>Observacion para Trasnsporte</mat-label>
              <textarea class="" matInput formControlName="observationTs"></textarea>
            </mat-form-field>
          </div>
          
          <div *ngIf="isMinerFac" class="grid2" rowspan="1">
            <mat-form-field class="create--container-div1-form-container-form-field" appearance="fill">
              <mat-label>Observacion para Facturacion</mat-label>
              <textarea class="" matInput formControlName="observationFac"></textarea>
            </mat-form-field>
          </div>


          <div class="grid6" rowspan="2">
            <div class="dialog--container-form-file-container">
              <label class="dialog--container-form-file-container-label">
                <span *ngIf="namesFiles.length > 0;else fileTitle">
                  <span *ngFor="let file of namesFiles">
                    {{file}}
                    <i (click)="deleteFile(file)" class="bi bi-trash" style="font-size:25px;color:red;cursor:pointer;"></i>,
                  </span>
                </span>
              </label>
              <div class="relative center-inp flex">
                <input #fileInput style="cursor:pointer;" type="file" class="dialog--container-form-file-container-input" (change)="getFile($event)" />
                <i class="bi bi-file-earmark-plus center-icon" style="font-size: 45px; color: #6b6b6b;"></i>
              </div>
            </div>
          </div>




          <div class="grid6">
            <div class="camp-buttons w100">
              <button type="submit" class="create--container-form-container-form-btn" mat-fab extended color="primary" *ngIf="ID > 0;else createbutton">
                {{'Actualizar'}} PQR
              </button>
    
              <button type="reset" class="create--container-form-container-form-cancel" mat-fab extended color="primary">
                Cancelar
              </button>
            </div>
          </div>

        </div>
      <!-- </mat-grid-list> -->
    </form>
  </div>
</div>





<mat-grid-list cols="1" rowHeight="6:0.5">
  <div>
    <i class="bi bi-cloud-download-fill" style="font-size:25px;cursor:pointer;" *ngIf="containFile" (click)="downloadFile()"></i>
  </div>
</mat-grid-list>

<ng-template #createtitle>
  <h1 class="create--container-texts-title">Crear PQR</h1>
</ng-template>

<ng-template #createbutton>
  <button 
  type="submit"
  [ngClass]="{'create--container-form-container-form-btn': isFile, 'create--container-form-container-form-btn-disable': !isFile}" 
  mat-fab extended color="primary"
  [disabled]="!isFile"
  >Crear PQR</button>
</ng-template>



<ng-template #fileTitle>
  <label> Cargar Archivo</label>
</ng-template>
