.login {
  background: url("/assets/images/marcoBottom.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 92%;
}

.img-sign{
  position: absolute;
  width: 38%;
  left: auto;
  top: -20px;
  z-index: -1;
  right: 0;
}

