@import "../add-services/add-services.component.scss";



.response {

  &--container {
    &-form {
      &-container {
        &-form-btn {
          background: $greenTSG;
          border-radius: 10px;
          margin-right: 10px;
          font: $base-noto-sans;
          color: $white;

          &-sec {
            background: $greenTSG;
            border-radius: 10px;
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            font: $base-noto-sans;
            color: $white;
            cursor: pointer;
            transition: background 0.3s ease;

            &:hover {
              background-color: #18944b; /* Color en hover con un toque más blanco */
              color: white;
            }
          }
        }
      }
    }
  }

  &--attachs-response {
    width: 100%;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 10px;
    height: auto;
    background: rgba(240,240,240,0.9);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 9px 15px 3px;
    margin-bottom: 25px;
    text-align: center;
    padding-bottom: 10px;

    &-title {
      font: $base-noto-sans;
      font-weight: 300;
      color: $greenTSG;
      font-size: 18px;
    }
  }

  &--visors {
    &-container {
      display: flex;
      flex-direction: row;
      gap: 15px;
      padding: 0px 0px 0px 30px;


      &-visor {
        width: 100%;

        &-excel {
          overflow-x: auto;
          // width: 100%;
          // position: relative;
        }
      }

      &-content {
        width: 100%;
      }
    }
  }

  &--chat {

    &-conatiner {
      border: 1px solid black;
      padding: 50px;
      border-radius: 10px;
      background: url("/assets/images/fondo-wha.png");
      box-shadow: rgba(0, 0, 0, 0.5) 0px 9px 15px 3px;
      background-color: #f5efd7;

      &-info {
        display: flex;
        // flex-direction: column;
        align-items: end;
        justify-content: end;

        &-data {
          margin: 0;
          font: $base-noto-sans;
          font-weight: 300;
          color: gray;
          font-size: 9px;
          top: 8px;
          left: 10px;
        }
      }

      &-title {
        font: $h4-noto-sans;
        font-size: 40px;
        margin: 10px auto 30px;
        width: min-content;
        color: $greenTSG;
      }
    }
  }

  &--audio-container {
    height: 300px;
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $greenTSG;
    border-radius: 10px;
    background: url("/assets/images/backAudio.jpg");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 25px 1px;

    &-btn {
      padding: 25px;
      margin: 5px;
      height: 30%;

      &-icon {
        font-size: 30px;
      }
    }
  }

  &--headers {
    &-container {
      width: 90%;
      margin: auto;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      border: 1px solid $greenTSG;
      border-radius: 10px;
      padding: 30px;
      // background-color: rgba(250,250,250,0.3);
      // background: radial-gradient(circle, rgb(241 255 235) 0%, rgb(137 208 158 / 66%) 100%);
      // background: radial-gradient(circle, rgb(255 255 255) 0%, rgb(170 205 181 / 66%) 100%);
      background: white;
      box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 25px 1px;

      &-data {
        display: flex;
        gap: 10px;
        // justify-content: space-between;
        // border-bottom: 1px solid $greenTSG;
        overflow: auto;
      }
    }
  }

  &--fields {
    min-height: 150px;
    width: 100%;
  }

  &--labels {
    font: $h4-noto-sans;
    color: $greenTSG;
    margin: 0;
    font-size: 20px;

    &-data {
      font: $h4-noto-sans;
      font-size: 16px;
      font-weight: 300;
      margin: 0;

      &-attachments {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 5px;
      }
    }
  }

  .section-response{
    .step{
      width: 96%;
    }
  }
}

.width-msgs {
  max-width: 100%;
}

.font-400{font-weight: 400;}
.font-600{font-weight: 600;}

.w50{width: 50%;}

.step2--container{
    width: 90%;
    margin: auto;
    padding: 50px;
    margin: -2% auto 100px;
    border: none;
    box-shadow: none;
    border-radius: 0;
}

.step--history {
  &-container {
    width: 15%;
    border: 1px solid $greenTSG;
    border-radius: 10px;
    padding: 15px;
    margin-right: 1%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 25px 1px;


    &-card {
      border: 1px solid $greenTSG;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 25px 1px;
      background: white;
    }
  }
}

.headers-margin{
  &-auto{
    margin: auto;
  }
  &-none{
    margin: 0;
  }
}

.display{
  &-none{
    display: none;
  }
  &-block{
    display: block;
  }
}

.bg-gray{background: gray;}

.cont{
  flex-wrap: wrap;
}

.div-doc{
  background: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  
  text-overflow: ellipsis;
  // width: 220px;
  white-space: nowrap; 
  overflow: hidden;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid black;
  padding: 1px 5px;

  // flex: 1 1 calc(30% - 10px); 
  margin: 5px;
  box-sizing: border-box;
}

.apply-flex {
  flex: 1 1 calc(30% - 10px);
}

.doc-element {
  flex: 1 1 calc(30% - 10px); /* Un máximo de 3 elementos por fila, con un pequeño espacio */
  margin: 5px;
  box-sizing: border-box;
}

.circle-name{
  border-radius: 50%;
  color: white;
  font-size: 20px;
  background-color: $greenTSG;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
}