<div class="step2">
  <div class="step2--container">
    <div class="step2--container-texts">
      <h2 class="step2--container-texts-title">Asignacion de Servicios</h2>
    </div>
    <form [formGroup]="formInbox" (ngSubmit)="submit()" class="step2--container-form padding-form">
      <mat-grid-list cols="1" rowHeight="5:1">
        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <mat-label>Buscar Correos por Email</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>
        </mat-grid-tile>


        <mat-grid-tile colspan="1">
          <button class="create--container-div1-form-container-form-btn step2-btn" type="submit" mat-flat-button>Consultar correos</button>
        </mat-grid-tile>


      </mat-grid-list>
    </form>

    <!-- TABLE SERVICES-->
    <mat-form-field>
      <mat-label>Filtrar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>


        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
          <td mat-cell *matCellDef="let row; let i = index">
            {{i + 1}}
          </td>
        </ng-container>


        <ng-container matColumnDef="subject">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Asunto </th>
          <td mat-cell *matCellDef="let row"> {{row.subject}} </td>
        </ng-container>

        <ng-container matColumnDef="body">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Contenido</th>
          <td mat-cell *matCellDef="let row"> {{row.body}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Detalles</th>
          <td mat-cell *matCellDef="let row">
            <i (click)="details(row.id)" style="font-size:25px;color:blue;cursor:pointer;" class="bi bi-search"></i>
            <button  style="background: #126b37;" (click)="openDialog(row.id,row.from,row.subject)" mat-flat-button color="primary">Redactar Correo</button>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Ningun dato coincide con el filtro "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Seleccionar pagina"></mat-paginator>
    </div>
  </div>
</div>



