<section class="miner">
    <div class="step2--container-texts">
        <h2 class="step2--container-texts-title font-size-resp">Datos PQR´S</h2>
      </div>
    <div class="miner--container">
        <div class="miner--container-form-container">
            <form class="miner--container-form-container-form" [formGroup]="formMiner" (ngSubmit)="submit()">
              <mat-form-field class="example-full-width">
                <mat-label>Observaciones</mat-label>
                <textarea matInput formControlName="observations">
                  
                </textarea>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>Respuesta</mat-label>
                <textarea matInput formControlName="response">
                  
                </textarea>
              </mat-form-field>
                <span class="dialog--container-form-file-container-span">* Archivos permitidos: PDF, DOCX, XLSX, AUDIO</span>
                <div class="dialog--container-form-file-container">
                  <label class="dialog--container-form-file-container-label">
                    <span *ngIf="namesFiles.length > 0;else fileTitle">
                      <span *ngFor="let file of namesFiles">
                        {{file}}
                        <i (click)="deleteFile(file)" class="bi bi-trash" style="font-size:25px;color:red;cursor:pointer;"></i>,
                      </span>
                    </span>
      
                  </label>
                  <input #fileInput style="cursor:pointer;" type="file"
                         class="dialog--container-form-file-container-input" (change)="getFile($event)"
                         accept=".pdf, .docx, .xlsx"/>
                </div>
      
                <button type="submit" class="create--container-div1-form-container-form-btn" mat-fab extended color="primary">
                  Enviar Archivos
                </button>
              </form>
        </div>
    </div>
</section>
<ng-template #fileTitle>
    <label> Cargar Archivo</label>
  </ng-template>

  <div class="back-modal" *ngIf="isLoading">
    <div class="modal-load">
      <mat-spinner style="color: #075f47;"></mat-spinner>
      <h2>Cargando...</h2>
    </div>
  </div>