<h2 class="cre-title" mat-dialog-title>{{data.isEdit ? 'Actualizar' : 'Crear'}} Problema Central</h2>

<mat-dialog-content>
  <form [formGroup]="formPrincipal" (ngSubmit)="submit()">
    <mat-form-field class="create--container-div1-form-container-form-field" appearance="fill">
      <mat-label>Nombre del Problema</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()">Cancelar</button>
  <button class="cre-btn" mat-raised-button color="primary" (click)="submit()">
    {{data.isEdit ? 'Actualizar' : 'Crear'}} Problema Central
  </button>
</mat-dialog-actions>