<h2 class="cre-title" mat-dialog-title>{{data.isEdit ? 'Actualizar' : 'Crear'}} Remitente</h2>

<mat-dialog-content>
  <form [formGroup]="formSender" (ngSubmit)="submit()">
    <mat-form-field class="create--container-div1-form-container-form-field" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="Email">
    </mat-form-field>

    <mat-form-field class="create--container-div1-form-container-form-field" appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input type="password" matInput formControlName="Password">
    </mat-form-field>

    <mat-form-field class="create--container-div1-form-container-form-field" appearance="fill">
      <mat-label>Puerto IMAP</mat-label>
      <input matInput formControlName="PortIMAP">
    </mat-form-field>

    <mat-form-field class="create--container-div1-form-container-form-field" appearance="fill">
      <mat-label>Puerto SMTP</mat-label>
      <input matInput formControlName="PortSMTP">
    </mat-form-field>

    <mat-form-field class="create--container-div1-form-container-form-field" appearance="fill">
      <mat-label>Servidor IMAP</mat-label>
      <input matInput formControlName="ServerIMAP">
    </mat-form-field>

    <mat-form-field class="create--container-div1-form-container-form-field" appearance="fill">
      <mat-label>Servidor SMTP</mat-label>
      <input matInput formControlName="ServerSMTP">
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()">Cancelar</button>
  <button class="cre-btn" mat-raised-button color="primary" (click)="submit()">
    {{data.isEdit ? 'Actualizar' : 'Crear'}} Remitente
  </button>
</mat-dialog-actions>